.client-grid {

  display: grid;

  grid-template-columns:
    repeat(
      auto-fill,
      minmax(280px, 1fr)
    );

  gap: 20px;

  margin-top: 24px;
}

.clients-header {

  display: flex;

  justify-content:
    space-between;

  align-items: center;

  gap: 20px;

  flex-wrap: wrap;

  margin-bottom: 24px;
}

.client-card {

  background: #1e293b;

  border-radius: 14px;

  padding: 12px;

  box-shadow: 0 0 6px rgba(0,0,0,0.18);
}

.client-card h3 {

  margin-top: 0;

  color: orange;
}

.info-card {

  background: #0f172a;

  border-radius: 18px;

  padding: 20px;

  border:
    1px solid
    rgba(255,255,255,0.04);
}

.info-card p {

  margin: 10px 0;

  font-size: 18px;
}
.client-card {

  padding: 18px !important;

  margin-bottom: 12px !important;

  border-radius: 18px !important;
}

.client-card h1 {

  font-size: 2rem !important;

  margin-bottom: 12px !important;
}

.client-card h2 {

  font-size: 1.5rem !important;

  margin-bottom: 12px !important;
}

.client-card p {

  margin: 8px 0 !important;
}
#clientFilesList img {

  max-height: 220px !important;

  object-fit: cover;
}
url(../../../../../../AppData/Local/Packages/Microsoft.ScreenSketch_8wekyb3d8bbwe/TempState/Snips/Schermafbeelding 2026-06-02 004233.png)