.topbar {

  display: flex;

  justify-content: space-between;

  align-items: center;

  padding: 20px 28px;

  background: #0f172a;

  border-bottom:
    1px solid
    rgba(255,255,255,0.05);

  min-height: 90px;
}